<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ro</string>
		<string>fr</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>pt</string>
		<string>pl</string>
		<string>nl</string>
		<string>uk</string>
		<string>hu</string>
		<string>tr</string>
		<string>ja</string>
		<string>zh-Hans</string>
	</array>
    <key>NSSiriUsageDescription</key>
	<string>GeoRemind uses Siri to add a reminder at your current location.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>georemind</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ReemKufiFun-VariableFont_wght.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
